<section class="tabs">
  <nav>
    <a href="#">Product 1</a>
    <a href="#" class="active">Smartphones</a>
    <a href="#">Product 3</a>
  </nav>
  <div class="tabs-holder">
    <div id="smartphones-tab" class="tab">
      <aside class="groups">
        <ul>
          <li><a href="#">Alle Smartphones</a></li>
          <li><a href="#">Groep</a></li>
          <li><a href="#">Voorkeur smartphone voor rollen</a></li>
        </ul>
      </aside>
      <div class="tab-content">
        
        <app-products></app-products>
      </div>
    </div>
  </div>
</section>
