<article class="product-card inStoke">
  <header>
    <h1>Product Title</h1>
    <div class="product-actions">
      <a href="#">edit</a>
      <a href="#">delete</a>
    </div>
  </header>
  <figure>
    IMG
  </figure>
  <table class="product-data">
      <thead>
        <tr>
          <th colspan="2">Eigenschapp en</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>OS / versie</td>
          <td>Andorid</td>
        </tr>
        <tr>
          <td>Schermgrootte</td>
          <td>5 inch</td>
        </tr>
        <tr>
          <td>Geheugenopslag</td>
          <td>32 GB</td>
        </tr>
         <tr>
          <td>Dual Sim</td>
          <td>Ja</td>
        </tr>
      </tbody>
      
  </table>
  <div>
    <span class="date"></span>
    <span class="date"></span>
  </div>
</article>
